@charset "utf-8";
/* CSS Document */
/*顶部div*/
body{
margin:0 auto;
font-size:12px;
    background-color: #000000;
}

/*设置超链接*/
a:link, a:visited{ color: #FFFFFF;
text-decoration:none;}
a:hover { color:#FF6666;}
a:active { color: #666;}

.top {
    background-color:#333333;
height:60px;
margin: 0 auto;
width: 100%;
min-width: 1300px;
float:left;
}

/*logo div*/
.logo{
/*background-color:#6633FF;*/
float:left;
margin-left:30px;}

.logo img{
height:52px;
width:128px;
margin-top:5px;
}

/*导航 div*/
.navbar{
/*background-color:#66FFCC;*/
height:30px;
width:400px;
float:left;
margin-left:60px;
margin-top:15px;
}
.navbar ul{
list-style:none;
margin:0 auto;}
.navbar ul li{
float:left;
margin-right:55px;
margin-top:9px;
/*background-color:#0066CC;*/
font-size:15px;
}

.search{
width:250px;
/*background-color:#FF0033;*/
float:left;
margin-left:200px;
margin-top:15px;
}

.search input{
width:240px;
color:#333333;}

/*登录模块*/
.login,.login:hover, .login:visited{
width:200px;
height:50px;
float:right;
border: thick #666666 solid;
font-size: 26pt;}

.bloglist{
width:1000px;
height:500px;
float:left;
border: thick #333333 solid;
margin-left:30px;
margin-top:10px;
color: #f8f8f8;}

.listright{
width:200px;
height:500px;
padding-left:50px;
float:right;
margin-right:30px;
}

.listright div{
border: thick #FF6666 solid;
height:100px;
background-color:#33FF33;
margin-top:30px;}

.post-form textarea, .post-form input {
    width: 100%;
    color: #000000;
}

.save {
    float: right;
}

h1, h2, h3, h4 {
    font-family: 'STSong', cursive;
    color: #f8f8f8;
}
